{% extends "layout.twig" %}

{% block cor_css %}employee_accounts_detail{% endblock %}

{% block title %}Výsledky vyhledávání{% endblock %}

{% block content %}
    <div class="content">
        <h1 id="headline">Účty:</h1>
        <div class="table_wrap">
            <table>
                <tr>
                    <th>Num</th>
                    <th>Název Účtu</th>
                    <th>Typ</th>
                    <th>Expirace</th>
                    <th>Úprava</th>
                </tr>
                {% set var1 = 0 %}
                {% for account in emp.getAccount() %}
                    <tr>
                        <td id="table_num">{{var1}}</td>
                        <td>{{account.getName()}}</td>
                        <td>{{account.getType()}}</td>
                        <td>{{account.getExpiration()}}</td>
                        <td><a href="{{ path('create_edit_account', {id: account.getId()}) }}" class="clickable">Edit/Remove</a></td>
                    </tr>
                    {% set var1 = var1 + 1 %}
                {% endfor %}
            </table>
            <td><a href="{{ path('create_edit_account', {id: -1}) }}" class="clickable">Add an account</a></td>
        </div>
    </div>
{% endblock %}
